/* google font */
body {
    font-family: 'Poppins', sans-serif;
    background-color: gray
}

/* google font End  */

/* first section style */
main {
    display: flex;
    /* change koreci nice niye aste */
    flex-direction: column;
    justify-content: center;
    margin: 40px;
    background-color: rgb(245, 243, 243);
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;

}


.banner {
    display: flex;
    background-color: black;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    margin-bottom: 10px;


}

h1 {
    font-weight: 500px;
}

.player-diskription {
    color: aliceblue;

}

.show {
    color: gainsboro;
}

.icon {
    padding-left: 10px;
}

.button {
    color: antiquewhite;
    font-size: 20px;
    background-color: red;
    padding: 10px 20px;
    border-radius: 5px;
}

/* First section style End here */
/* ----------------Second section style start Now----------------------- */
.container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.box {
    text-align: center;
    flex-direction: column;
    row-gap: 10px;
    background-color: black;
    border-radius: 10px;
    font-weight: 900px;
    height: 180px;

}

/* Box er Style */
.match {
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 8px 10px;
    margin-top: 5px;

}

.group {
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 8px 32px;
}

.blog {
    color: white;
    background-color: red;
    border-radius: 5px;
    padding: 8px 48px;
}